<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="NavBar"
>
<head>
    <meta charset="UTF-8">
    <title>Rendez vous</title>

</head>
<body>
<div layout:fragment="content1">
<div class="container mt-2">
    <div class="card">
        <div class="card-header"><h2>Liste des dendez vous</h2></div>
        <div class="card-header"><a class="btn btn-sm btn-success" th:href="@{/admin/formRendezVous}" sec:authorize="hasAuthority('ADMIN')">Nouveau Rendez Vous</a></div>
        <div class="card-body">
            <form method="get" th:action="@{/user/rendezvous/index}">
                <label>key word</label>
                <input type="text" name="keyword" th:value="${keyword}">
                <button class="btn btn-primary" type="submit">chercher</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${rendezVousList}">
                    <td th:text="${p.getId()}"></td>
                    <td th:text="${p.getDate()}"></td>
                    <td th:text="${p.getStatus().name()}"></td>

                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-success" th:href="@{/admin/rendezvous/editRendezVous(id=${p.getId()},keyword=${keyword},page=${currentPage})}">
                            Edit
                        </a>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a onclick="return confirm('Etes vous sure ?')" class="btn btn-danger" th:href="@{/admin/rendezvous/deleteRendezVous(id=${p.getId()},keyword=${keyword},page=${currentPage})}">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills ">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?
                    'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                       th:text="${status.index}"
                       th:href="@{/user/rendezvous/index(page=${status.index},keyword=${keyword})}"
                    ></a>
                </li>
            </ul>

        </div>
    </div>
</div>
</div>
</body>
</html>